body {
  background-color: darkgrey;
  padding: 20px;
}

.btn-search {
  border-radius: 10px;
  color: white;
  padding: 5px 20px;
  background-color:rgb(196, 149, 219);
}

.favorite {
  color: aqua;
}

.container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.js-btn {
  border-radius: 10px;
  padding: 5px 20px;
  background-color:rgb(196, 149, 219);
  color: white;
  font-weight: bold;
  margin-top: 5px;
}

.js-remove {
    border-radius: 10px;
    padding: 5px 20px;
    background-color:rgb(196, 149, 219);
    color: white;
    font-weight: bold;
    margin-top: 5px;
}
