.main__list {
  padding-left: 2rem;
  padding-bottom: 20px;
}

.btn-search {
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 20px;
  background-color:rgb(196, 149, 219);
}

.favorite {
  color: aqua;
}

.container {
  display: flex;
  justify-content: center;
  
}